<div class="alert alert-success" role="alert">
  <strong>Управление связями</strong>
</div>
<div class="container-fluid row">
  <div class="card col-lg-3 col-md-3 col-sm-3">
    <div class="card-header card-info row">
        КПП
    </div>
    <div class="card-block">
      <!-- кпп -->
      <div ng-repeat="gearbox in $ctrl.gearbox" class="with-border">
        <p class="vendor-paragraph">
          <button ng-click="openVendor = !openVendor" class="btn-xs btn-small btn-primary btn-margin">
            <i ng-if="!openVendor">+</i>
            <i ng-if="openVendor">-</i>
          </button>
          <span>{{gearbox.name}}</span>
        </p>
        <!-- марки авто -->
        <div ng-if="openVendor">
          <div ng-repeat="manufacturer in gearbox.gearboxManufacturers" class="with-border inner-block">
            <p class="vendor-paragraph">
              <button ng-click="openYears = !openYears" class="btn-xs btn-warning btn-margin" >
                <i ng-if="!openYears">+</i>
                <i ng-if="openYears">-</i>
              </button>
              <span>{{manufacturer.name}}</span>
            </p>
            <!-- модели авто -->
            <div ng-if="openYears" class="">
              <p class="vendor-paragraph" ng-repeat="model in manufacturer.gearboxModels">
                <span ng-click="$ctrl.addGearboxToInput(model)" class="badge badge-warning">{{model.name}}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card col-lg-6 col-md-6 col-sm-6">
    <div class="card-header card-info row">
        Связь
    </div>
    <div class="link-block">
      <label for="gearbox-type">Модель КПП</label>
      <div class="input-group">
        <input id="gearbox-type" type="text" class="form-control" placeholder="Выберите модель КПП" ng-model="$ctrl.fullLink.sendData.gearboxModel">
      </div>
    </div>
    <div class="link-block">
      <label for="auto-vendor">Модификация авто</label>
      <div class="input-group">
        <input id="auto-vendor" type="text" class="form-control" placeholder="Выберите модификацию авто" ng-model="$ctrl.fullLink.sendData.carModification">
      </div>
    </div>
    <div class="link-block">
      <label for="auto-vendor">Двигатель</label>
      <div class="input-group">
        <input id="auto-vendor" type="text" class="form-control" placeholder="Введите название двигателя" ng-model="$ctrl.fullLink.sendData.driveUnit">
      </div>
    </div>
    <div class="link-block">
      <label for="auto-vendor">Привод</label>
      <div class="input-group">
        <input id="auto-vendor" type="text" class="form-control" placeholder="Введите название привода" ng-model="$ctrl.fullLink.sendData.engine">
      </div>
    </div>
    <div class="container text-center">
      <button ng-if="$ctrl.fullLink.id" ng-click="$ctrl.removeLink($ctrl.fullLink.id)" type="button" class="btn btn-outline-danger">Удалить</button>
      <button ng-if="$ctrl.fullLink.id" ng-click="$ctrl.updateLink($ctrl.fullLink)" type="button" class="btn btn-outline-success">Редактировать</button>
      
      <button ng-if="!$ctrl.fullLink.id" ng-click="$ctrl.createLink($ctrl.fullLink.dataLink)" type="button" class="btn btn-outline-primary">Создать</button>
      <button ng-click="$ctrl.resetFilters()" type="button" class="btn btn-outline-warning">Сброс</button>
    </div>
    <div ng-if="$ctrl.links.length" class="link-table">
      <h5 class="alert alert-success">Таблица связей</h5>
      <table class="table table-hover">
          <thead>
            <tr class="bg-warning">
              <th>Мод. КПП</th>
              <th>Мод. авто</th>
              <th>Марка авто</th>
              <th>Привод</th>
              <th>Двигатель</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="link in $ctrl.links" ng-click="$ctrl.getLink(link)">
              <td>{{link.gearboxModel.name}}</td>
              <td>{{link.carModification.name}}</td>
              <td>{{link.carModel.name}}</td>
              <td>{{link.driveUnit}}</td>
              <td>{{link.engine}}</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
  <div class="card col-lg-3 col-md-3 col-sm-3">
    <div class="card-header card-info row">
        Авто
    </div>
    <div class="card-block">
      <!-- марки -->
      <div ng-repeat="car in $ctrl.cars" class="with-border">
        <p class="vendor-paragraph">
          <button ng-click="openVendor = !openVendor" class="btn-xs btn-small btn-primary btn-margin">
            <i ng-if="!openVendor">+</i>
            <i ng-if="openVendor">-</i>
          </button>
          <span>{{car.name}}</span>
        </p>
        <!-- модели -->
        <div ng-if="openVendor">
          <div ng-repeat="model in car.carModel" class="with-border inner-block">
            <p class="vendor-paragraph">
              <button ng-click="openYears = !openYears" class="btn-xs btn-warning btn-margin" >
                <i ng-if="!openYears">+</i>
                <i ng-if="openYears">-</i>
              </button>
              <span>{{model.name}}</span>
            </p>
            <!-- годы -->
            <div ng-if="openYears" class="">
              <p class="vendor-paragraph" ng-repeat="year in model.carModification">
                <span ng-click="$ctrl.addAutoYearToInput(year, model.id)" class="badge badge-warning">{{year.name}}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
