<div class="alert alert-success" role="alert">
  <strong>Управление связями</strong>
</div>
<div class="container-fluid row">
  <div class="card col-lg-4 col-md-4 col-sm-4">
    <div class="card-header card-info row">
        КПП
    </div>
    <div class="card-block">
      <!-- кпп -->
      <div ng-repeat="gearbox in $ctrl.gearbox" class="with-border">
        <p class="vendor-paragraph">
          <button ng-click="openVendor = !openVendor" class="btn-xs btn-small btn-primary btn-margin">
            <i ng-if="!openVendor">+</i>
            <i ng-if="openVendor">-</i>
          </button>
          <span>{{gearbox.name}}</span>
        </p>
        <!-- марки авто -->
        <div ng-if="openVendor">
          <div ng-repeat="manufacturer in gearbox.gearboxManufacturers" class="with-border inner-block">
            <p class="vendor-paragraph">
              <button ng-click="openYears = !openYears" class="btn-xs btn-warning btn-margin" >
                <i ng-if="!openYears">+</i>
                <i ng-if="openYears">-</i>
              </button>
              <span>{{manufacturer.name}}</span>
            </p>
            <!-- модели авто -->
            <div ng-if="openYears" class="">
              <p class="vendor-paragraph" ng-repeat="model in manufacturer.gearboxModels">
                <span ng-click="$ctrl.addGearboxToInput(model)" class="badge badge-warning">{{model.name}}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card col-lg-4 col-md-4 col-sm-4">
    <div class="card-header card-info row">
        Связь
    </div>
    <div class="link-block">
      <label for="gearbox-type">Модель КПП</label>
      <div class="input-group">
        <input id="gearbox-type" type="text" class="form-control" placeholder="Выберите модель КПП" ng-model="$ctrl.typeKpp">
      </div>
    </div>
    <div class="link-block">
      <label for="auto-vendor">Модификация авто</label>
      <div class="input-group">
        <input id="auto-vendor" type="text" class="form-control" placeholder="Выберите модификацию авто" ng-model="$ctrl.autoYear">
      </div>
    </div>
    <div class="link-block">
      <label for="auto-vendor">Двигатель</label>
      <div class="input-group">
        <input id="auto-vendor" type="text" class="form-control" placeholder="Введите название двигателя">
      </div>
    </div>
    <div class="link-block">
      <label for="auto-vendor">Привод</label>
      <div class="input-group">
        <input id="auto-vendor" type="text" class="form-control" placeholder="Введите название привода">
      </div>
    </div>
    <div class="container text-center">
      <button type="button" class="btn btn-outline-primary">Сохранить</button>
      <button type="button" class="btn btn-outline-danger">Сброс</button>
    </div>
  </div>
  <div class="card col-lg-4 col-md-4 col-sm-4">
    <div class="card-header card-info row">
        Авто
    </div>
    <div class="card-block">
      <!-- марки -->
      <div ng-repeat="car in $ctrl.cars" class="with-border">
        <p class="vendor-paragraph">
          <button ng-click="openVendor = !openVendor" class="btn-xs btn-small btn-primary btn-margin">
            <i ng-if="!openVendor">+</i>
            <i ng-if="openVendor">-</i>
          </button>
          <span>{{car.name}}</span>
        </p>
        <!-- модели -->
        <div ng-if="openVendor">
          <div ng-repeat="model in car.carModel" class="with-border inner-block">
            <p class="vendor-paragraph">
              <button ng-click="openYears = !openYears" class="btn-xs btn-warning btn-margin" >
                <i ng-if="!openYears">+</i>
                <i ng-if="openYears">-</i>
              </button>
              <span>{{model.name}}</span>
            </p>
            <!-- годы -->
            <div ng-if="openYears" class="">
              <p class="vendor-paragraph" ng-repeat="year in model.carModification">
                <span ng-click="$ctrl.addAutoYearToInput(model.name)" class="badge badge-warning">{{year.name}}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
