<div class="alert alert-success" role="alert">
  <strong>Дерево КПП</strong>
</div>
<div class="container-fluid row">
  <div class="card col-lg-6 col-md-6 col-sm-6">
    <div class="card-header card-info row">
      КПП
    </div>
    <div class="card-block">
      <!-- кпп -->
      <div ng-repeat="gearbox in $ctrl.gearbox" class="with-border">
        <p class="vendor-paragraph">
          <button ng-click="openVendor = !openVendor" class="btn-xs btn-small btn-primary btn-margin">
            <i ng-if="!openVendor">+</i>
            <i ng-if="openVendor">-</i>
          </button>
          <span>{{gearbox.name}}</span>
        </p>
        <!-- марки авто -->
        <div ng-if="openVendor">
          <div ng-repeat="manufacturer in gearbox.gearboxManufacturers" class="with-border inner-block">
            <p class="vendor-paragraph">
              <button ng-click="openYears = !openYears" class="btn-xs btn-warning btn-margin">
                <i ng-if="!openYears">+</i>
                <i ng-if="openYears">-</i>
              </button>
              <span ng-click="$ctrl.editGearboxType(manufacturer)">{{manufacturer.name}}</span>
            </p>
            <!-- модели авто -->
            <div ng-if="openYears" class="">
              <p class="vendor-paragraph" ng-repeat="model in manufacturer.gearboxModels">
                <span ng-click="$ctrl.addGearboxToInput(model)" class="badge badge-warning">{{model.name}}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card container col-lg-6 col-md-6 col-sm-6">
    <div class="card-header card-info row">
      Редактирование производителя
    </div>
    <div class="form-group row">
      <label class="col-lg-4 col-md-4 col-sm-4">Тип КПП *</label>
      <div class="form-group col-lg-8 col-md-8 col-sm-8">
        <label for="exampleFormControlSelect2">Выберите несколько пунктов, зажав клавишу ctrl</label>
        <select class="form-control" multiple size="5" required
                ng-model="$ctrl.gearboxTypes" 
                ng-options="type.id as type.name for type in $ctrl.kppTypes">
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-lg-4 col-md-4 col-sm-4">Производитель КПП *</label>
      <div class="col-lg-8 col-md-8 col-sm-8">
        <input type="text" class="form-control" ng-model="$ctrl.gearboxManufacturer.name">
      </div>
    </div>
    <div class="form-actions">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
          <button ng-click="$ctrl.updateGearboxType($ctrl.gearboxManufacturer, $ctrl.gearboxTypes)" type="submit" class="btn btn-outline-success">Сохранить</button>
          <button type="button" class="btn btn-outline-secondary" ng-click="">Отмена</button>
          <button type="button" class="btn btn-outline-danger" ng-click="">Удалить</button>
        </div>
      </div>
    </div>
  </div>
</div>